In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('web_data.csv')

In [3]:
df.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [4]:
df.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

In [5]:
df['date_time'] = pd.to_datetime(df['date_time'],errors = "coerce")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 15.7+ MB

In [13]:
df['time'] = pd.DatetimeIndex(df['date_time']).time
df['day'] = pd.DatetimeIndex(df['date_time']).day
df['month'] = pd.DatetimeIndex(df['date_time']).month
df['year'] = pd.DatetimeIndex(df['date_time']).year

In [14]:
df.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,day,month,year,time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,17,4,2017,15:27:00
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,17,4,2017,15:26:00
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,17,4,2017,15:19:00
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,17,4,2017,15:19:00
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,17,4,2017,15:18:00